#overalldiv{
    display: flex !important;
    padding: 10px;
    background-color: white;
    justify-content: space-evenly;
    gap: 10px;
    overflow:hidden;
}

#overalldiv:hover div{
    color: white;
   
    
}

#overalldiv:hover{
     background: linear-gradient(rgba(57, 108, 240, 0.8), rgba(0, 0, 0, 0.728)), 
    url("/src/images/smallgrid/04.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#overalldiv:hover #icondiv{
    background-color: #ff800f;
}

#iconid{
   outline-width: 1px;
   outline-color: black;
   /* color: white; */
}

.slick-slide div{
    margin: 10px;
}

.slick-arrow::before{
    color: #001064;;
    font-size: 50px;
  
}


.slick-arrow {
  width: 60px;
  height: 60px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1); /* Optional: for visibility */
  font-size: 10px;
  /* border: 1px solid black; */
}
.slick-prev{
  margin-top: 16%;
  margin-left: 47%;
 background-color: white;

}

.slick-next{
    margin-right: 47%;
   background-color: white;

    margin-top: 16%;
}


